.szamolas{
    margin: auto;
    width: 400px;
}
.kek1{
    float: right;
}

.kek2{
    float: right;
}

.piros2{
    float: right;
}

.piros1{
    margin-left: 200px;
}

.szurke1{
    margin-left: 95px;
}
